[*.cs]

# CA1707: Remove the underscores from member name System.Half.op_Exponent(System.Half, System.Half).
dotnet_diagnostic.CA1707.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA2208: Call the ArgumentNullException constructor that contains a message and/or paramName parameter.
dotnet_diagnostic.CA2208.severity = none
